---
import StandardNavbarLayout from "../layouts/standard-navbar-layout.astro";
---

<StandardNavbarLayout>
    <h1 class="font-bold text-4xl text-slsk-aqua">61. zbor Modrý oblak</h1>
</StandardNavbarLayout>
