---
import StandardNavbarLayout from "../layouts/standard-navbar-layout.astro";
---

<StandardNavbarLayout>
    <section class="text-center">
        <h1 class="font-bold text-6xl text-slsk-aqua">61. zbor Modrý oblak</h1>
    </section>
</StandardNavbarLayout>
