---
import MarkdownLayout from "../layouts/markdown-layout.astro";
import Contact from "../components/contact.astro";
---

<MarkdownLayout>
    <h1>Kontakt</h1>
    <article class="text-center">
        <Contact />
    </article>
</MarkdownLayout>
