---
import CoreLayout from "../layouts/core-layout.astro";
import Contact from "../components/contact.astro";
---

<CoreLayout title="Kontakt - Modrý oblak">
    <h1>Kontakt</h1>
    <article class="text-center">
        <Contact />
    </article>
</CoreLayout>
