---
import MarkdownLayout from "../layouts/markdown-layout.astro";
---

<MarkdownLayout>
    <h1>Prihláška člena</h1>
    <article class="text-center">
        <p>
        Pošlite nám vyplnenú prihlášku na <a href="mailto:rada@modryoblak.sk">rada@modryoblak.sk</a>
        a my Vás kontaktujeme.
        </p>
        <figure class="mt-10">
            <p>Link na prihlášku:</p>
            <a href="/prihlaska.pdf" target="_blank"><i class="fa-solid fa-download"></i> prihlaska.pdf</a>
        </figure>
    </article>
</MarkdownLayout>
