<!--
Slovenský skauting, 61. zbor Modrý oblak Pezinok
L. Novomeského 9, 902 01 Pezinok
IČO: 31806490
DIČ: 2021568120
rada@modryoblak.sk
-->

<h2>Záujem o členstvo</h2>
<address>
    <p>Ak máte záujem o členstvo v našom zbore, kontaktujte nás na:</p>
    <a href="mailto:zaujem@modryoblak.sk" aria-label="Email"><i class="fa-regular fa-envelope mt-3"></i> zaujem@modryoblak.sk</a>
</address>

<h2>Oficiálne kontaktné údaje zboru</h2>
<address>
    <p>Slovenský skauting, 61. zbor Modrý oblak Pezinok</p>
    <p>L. Novomeského 9, 902 01 Pezinok</p>
    <p>IČO: 31806490</p>
    <p>DIČ: 2021568120</p>
    <a href="mailto:rada@modryoblak.sk" aria-label="Email"><i class="fa-regular fa-envelope mt-3"></i> rada@modryoblak.sk</a>
</address>

<h2>Kontaktná osoba</h2>
<address>
    <p>Vendelín "Vendetta" Krasňanský</p>
    <p><i>Zborový vodca, štatutár zboru</i></p>
    <a href="tel:+421917379029" aria-label="Phone"><i class="fa-solid fa-phone mt-3"></i> +421 917 379 029</a>
</address>

<style>
    address {
        margin-top: 1rem;
        margin-bottom: 2rem;
        font-style: normal;
    }
</style>
