<!--
Slovenský skauting, 61. zbor Modrý oblak Pezinok
L. Novomeského 9, 902 01 Pezinok
IČO: 31806490
DIČ: 2021568120
rada@modryoblak.sk
-->

<p>Slovenský skauting, 61. zbor Modrý oblak Pezinok</p>
<p>L. Novomeského 9, 902 01 Pezinok</p>
<p>IČO: 31806490</p>
<p>DIČ: 2021568120</p>
<a href="mailto:rada@modryoblak.sk">rada@modryoblak.sk</a>
