<!--
Slovenský skauting, 61. zbor Modrý oblak Pezinok
L. Novomeského 9, 902 01 Pezinok
IČO: 31806490
DIČ: 2021568120
rada@modryoblak.sk
-->

<address>
    <p>Slovenský skauting, 61. zbor Modrý oblak Pezinok</p>
    <p>L. Novomeského 9, 902 01 Pezinok</p>
    <p>IČO: 31806490</p>
    <p>DIČ: 2021568120</p>
    <a href="mailto:rada@modryoblak.sk" aria-label="Email"><i class="fa-regular fa-envelope mt-3"></i> rada@modryoblak.sk</a>
</address>

<address class="mt-14">
    <p>Vendelín "Vendetta" Krasňanský</p>
    <p><i>Zborový vodca, štatutár zboru</i></p>
    <a href="tel:+42131806490" aria-label="Phone"><i class="fa-solid fa-phone mt-3"></i> +421 917 379 029</a>
</address>

<style>
    address {
        font-style: normal;
    }
</style>
