---
const { id } = Astro.props;

const data = await fetch(Astro.url.origin + `/events/${id}.json`).then((response) => {
    if (!response.ok) return {
        "title": "Akcia neexistuje!",
        "description": "Toto sa nemá stať. Kontaktujte, prosím, technický tím!",
        "date": "1970-1-1",
        "place": "Cajlanská 88, Pezinok",
        "image": "/media/landscape/camp1.png",
    };
    return response.json();
});
---

<figure class="flex flex-col gap-4 border-slsk-aqua border-[5px] rounded-lg p-4 w-full">
    <h5 class="text-slsk-aqua font-bold text-3xl">{data.title}</h5>
    <span>{data.description}</span>
    <div class="flex flex-col xl:flex-row justify-between gap-2 font-semibold">
        <span>
            <i class="fa-regular fa-calendar-days"></i>
            <span>{new Intl.DateTimeFormat("sk-SK", {}).format(new Date(data.date))}</span>
        </span>
        <span class="flex xl:flex-row-reverse items-center gap-2">
            <i class="fa-solid fa-map"></i>
            <span>{data.place}</span>
        </span>
    </div>
</figure>