<li><a href="/">O nás</a></li>
<li><a href="/tim">Tím</a></li>
<!-- <li><a href="/clen">Pre členov</a></li> Temporarily disabled for prod -->
<li><a href="/klubovna">Klubovňa</a></li>
<li><a href="/blog">Blog</a></li>
<li><a href="/kontakt">Kontakt</a></li>
