---
const { pageslash } = Astro.props;
---

<a href={pageslash + "pridaj-sa"} class="hidden sm:block px-4 py-1.5 bg-slsk-aqua font-bold text-slsk-white rounded-full hover:bg-slsk-gold transition-[all_0.2s]">
Pridaj sa k nám!
</a>