---
const githubPagesUrlProblem = fetch(Astro.url.origin + "/zbor-traditional.png").then((response) => { if (response.ok) return false; return true; });
const zborTraditionalUrl = await githubPagesUrlProblem ? "/landing-page-koncept/zbor-traditional.png" : "/zbor-traditional.png";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/png" href={zborTraditionalUrl} />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
        <script src="https://unpkg.com/htmx.org@1.9.10"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@40,600,0,200" />
        <link href="https://fonts.googleapis.com/css2?family=Georama:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:wght@300&display=swap" rel="stylesheet">
		<title>Modrý oblak</title>
	</head>
	<body class="bg-slsk-white font-georama text-slsk-black">
        <slot />
	</body>
</html>
