---
import StandardNavbarLayout from "./standard-navbar-layout.astro";

import "../styles/markdown.css";
---

<StandardNavbarLayout>
    <section class="md flex flex-col gap-12 items-center text-left">
        <slot />
    </section>
</StandardNavbarLayout>
