---
import BaseLayout from "./base-layout.astro";

import PagesUrl from "../util/pages-url.js";

const zborSlskUrl = await PagesUrl(Astro.url.origin, "/zbor-slsk.png");
---

<BaseLayout>
    <div class="absolute top-[-75px] left-0 w-[500px] z-[-10]">
        <svg viewBox="0 0 500 300" class="fill-slsk-aqua opacity-20">
          <circle cx="50" cy="80" r="130" />
          <circle cx="175" cy="90" r="100" />
          <circle cx="300" cy="60" r="75" />
          <circle cx="370" cy="50" r="70" />
          <circle cx="430" cy="40" r="60" />
        </svg>
    </div>

    <header class="fixed w-full flex flex-row justify-between pl-8 pr-12 py-4">
        <figure class="flex flex-row items-center">
            <a aria-label="Modrý oblak" href="/">
                <img src={zborSlskUrl} alt="" class="h-[4.5rem]" />
            </a>
        </figure>
        
        <nav class="hidden 2xl:flex flex-row items-center pl-[3.5vw]">
            <ul class="flex flex-row gap-10 items-center text-md text-slsk-aqua font-semibold hover:[&_a]:underline">
                <li><a href="/">O nás</a></li>
                <li><a href="/">Pre členov</a></li>
                <li><a href="/">Akcie</a></li>
                <li><a href="/">Klubovňa</a></li>
                <li><a href="/">Kontakt</a></li>
            </ul>
        </nav>

        <figure class="flex flex-row gap-5 items-center">
            <a href="/" class="hidden sm:block px-4 py-1.5 bg-slsk-aqua font-bold text-slsk-white rounded-full hover:bg-slsk-gold transition-[all_0.2s]">
                Pridaj sa k nám!
            </a>
            <span class="material-symbols-rounded scale-[1.2] text-slsk-aqua cursor-pointer hover:text-slsk-blue">
                search
            </span>
            <a aria-label="Instagram" href="https://instagram.com/modryoblak" target="blank" class="hidden 2xl:block">
                <i class="fa-brands fa-instagram scale-[1.7] text-slsk-aqua hover:text-slsk-blue"></i>
            </a>
            <a aria-label="Facebook" href="https://facebook.com/ModryOblak" target="_blank" class="hidden 2xl:block">
                <i class="pl-[0.22rem] fa-brands fa-facebook scale-[1.65] text-slsk-aqua hover:text-slsk-blue"></i>
            </a>
            <button class="pl-2 2xl:hidden">
                <i class="fa-solid fa-bars scale-[1.7] text-slsk-aqua hover:text-slsk-blue"></i>
            </button>
        </figure>
    </header>

    <div class="hidden lg:block absolute top-[-75px] right-0 w-[600px] z-[-10]">
        <svg viewBox="0 0 550 300" class="fill-slsk-aqua opacity-20">
          <circle cx="150" cy="30" r="70" />
          <circle cx="220" cy="50" r="90" />
          <circle cx="300" cy="85" r="100" />
          <circle cx="390" cy="80" r="100" />
          <circle cx="500" cy="90" r="100" />
        </svg>
    </div>

    <main class="pt-64">
        <slot />
    </main>
</BaseLayout>
