---
import BaseLayout from "./base-layout.astro";
import NavItems from "../components/nav-items.astro";

const prihlaskaText = "Prihláška člena"
---

<BaseLayout>
    <div class="absolute top-[-75px] left-0 w-[500px] max-w-full h-auto z-30">
        <svg viewBox="0 0 500 300" class="fill-slsk-aqua opacity-20">
            <circle cx="50" cy="80" r="130" />
            <circle cx="175" cy="90" r="100" />
            <circle cx="275" cy="60" r="75" />
        </svg>
    </div>

    <div id="background" aria-hidden="true" class="fixed top-0 left-0 w-full h-24 bg-slsk-white z-20" />

    <header class="fixed w-full flex flex-row justify-between xl:grid grid-cols-[1fr_2fr_1fr] pl-3 pr-7 py-4 z-40">
        <figure class="flex flex-row items-center">
            <a aria-label="Modrý oblak" href="/">
                <img src="/media/zbor-slsk.png" alt="" class="h-[4.5rem]" />
            </a>
        </figure>

        <nav class="hidden xl:flex flex-row items-center justify-center">
            <ul class="flex flex-row items-center text-md text-slsk-aqua font-semibold hover:[&_a]:underline">
                <NavItems />
            </ul>
        </nav>

        <figure class="flex flex-row gap-6 items-center justify-end">
            <a aria-label="Instagram" href="https://instagram.com/modryoblak" target="_blank" class="hidden xl:block">
                <i class="fa-brands fa-instagram scale-[1.6] text-slsk-aqua hover:text-slsk-blue"></i>
            </a>
            <a aria-label="Facebook" href="https://facebook.com/ModryOblak" target="_blank" class="hidden xl:block">
                <i class="fa-brands fa-facebook-f scale-[1.3] text-slsk-aqua hover:text-slsk-blue"></i>
            </a>
            <a href="/prihlaska" class="hidden sm:block button">
                {prihlaskaText}
            </a>
            <a aria-label="Email" href="mailto:rada@modryoblak.sk" target="_blank">
                <i class="fa-regular fa-envelope scale-[1.8] text-slsk-aqua hover:text-slsk-blue"></i>
            </a>
            <button id="nav-button" class="pl-2 xl:hidden">
                <i class="fa-solid fa-bars scale-[1.6] text-slsk-aqua hover:text-slsk-blue"></i>
            </button>
        </figure>
    </header>

    <nav id="mobile-nav" class="hidden fixed flex-col gap-12 items-center z-50 bg-slsk-white top-0 left-0 w-64 h-full p-6 shadow-[0_0_10px_0_rgba(0,0,0,0.3)]">
        <figure class="flex flex-row items-center">
            <a aria-label="Modrý oblak" href="/">
                <img src="/media/zbor-slsk.png" alt="" />
            </a>
        </figure>
        <ul class="flex flex-col text-xl items-center text-md text-slsk-aqua font-semibold hover:[&_a]:underline">
            <NavItems />
        </ul>
        <div class="flex flex-col gap-6 mt-auto">
            <div class="flex flex-row gap-6 items-center justify-center">
                <a aria-label="Instagram" href="https://instagram.com/modryoblak" target="_blank">
                    <i class="fa-brands fa-instagram scale-[1.6] text-slsk-aqua hover:text-slsk-blue"></i>
                </a>
                <a aria-label="Facebook" href="https://facebook.com/ModryOblak" target="_blank">
                    <i class="fa-brands fa-facebook-f scale-[1.3] text-slsk-aqua hover:text-slsk-blue"></i>
                </a>
                <a aria-label="Email" href="mailto:rada@modryoblak.sk" target="_blank">
                    <i class="fa-regular fa-envelope scale-[1.8] text-slsk-aqua hover:text-slsk-blue"></i>
                </a>
            </div>
            <a href="/prihlaska" class="button">
                {prihlaskaText}
            </a>
        </div>
    </nav>

    <div class="hidden md:block absolute top-[-75px] right-0 w-[600px] max-w-full z-30">
        <svg viewBox="0 0 550 300" class="fill-slsk-aqua opacity-20">
            <circle cx="260" cy="60" r="50" />
            <circle cx="330" cy="85" r="90" />
            <circle cx="410" cy="100" r="100" />
            <circle cx="500" cy="90" r="100" />
        </svg>
    </div>

    <main class="px-[3vw] text-center sm:px-[20vw] sm:text-left lg:px-[30vw] pt-44 pb-24 min-h-screen">
        <slot />
    </main>

    <footer class="flex flex-col gap-4 pb-6 items-center justify-evenly">
        <img src="/media/zbor-traditional.png" alt="" class="w-28 border-slsk-dark-blue border-[3px] rounded-full" />
        <span>©2024 61. zbor Modrý oblak Pezinok</span>
    </footer>
</BaseLayout>

<script>
    const navButton = document.querySelector("button#nav-button");

    navButton?.addEventListener("click", () => {
        const nav = document.querySelector("nav#mobile-nav");
        nav?.classList.toggle("hidden");
        nav?.classList.toggle("flex");
    })
</script>
