---
import BaseLayout from "./base-layout.astro";

const githubPagesUrlProblem = fetch(Astro.url.origin + "/zbor-slsk.png").then((response) => { if (response.ok) return false; return true; });
const zborSlskUrl = await githubPagesUrlProblem ? "/landing-page-koncept/zbor-slsk.png" : "/zbor-slsk.png";
---

<BaseLayout>
    <header class="flex flex-row justify-between pl-8 pr-12 py-6">
        <figure class="flex flex-row items-center">
            <img src={zborSlskUrl} alt="" class="h-[4.5rem]" />
        </figure>
        
        <nav class="flex flex-row items-center">
            <ul class="flex flex-row gap-10 items-center text-md text-slsk-aqua font-semibold">
                <li><a href="/">O nás</a></li>
                <li><a href="/">Pre členov</a></li>
                <li><a href="/">Akcie</a></li>
                <li><a href="/">Klubovňa</a></li>
                <li><a href="/">Kontakt</a></li>
            </ul>
        </nav>

        <figure class="flex flex-row items-center text-slsk-aqua">
            <span class="material-symbols-rounded scale-110">
                search
            </span>
        </figure>
</BaseLayout>
