---
import BaseLayout from "./base-layout.astro";

const githubPagesUrlProblem = fetch(Astro.url.origin + "/zbor-slsk.png").then((response) => { if (response.ok) return false; return true; });
const zborSlskUrl = await githubPagesUrlProblem ? "/landing-page-koncept/zbor-slsk.png" : "/zbor-slsk.png";
---

<BaseLayout>
    <div class="absolute top-[-75px] left-0 w-full z-[-10]">
        <svg viewBox="0 0 1920 300" class="fill-slsk-aqua opacity-20">
          <circle cx="50" cy="80" r="130" />
          <circle cx="175" cy="90" r="100" />
          <circle cx="300" cy="60" r="75" />
          <circle cx="370" cy="50" r="70" />
          <circle cx="430" cy="40" r="60" />
          <circle cx="1500" cy="30" r="90" />
          <circle cx="1600" cy="40" r="90" />
          <circle cx="1670" cy="85" r="100" />
          <circle cx="1750" cy="110" r="95" />
          <circle cx="1800" cy="90" r="100" />
          <circle cx="1890" cy="60" r="120" />
        </svg>
    </div>

    <header class="flex flex-row justify-between pl-8 pr-12 py-6">
        <figure class="flex flex-row items-center">
            <img src={zborSlskUrl} alt="" class="h-[4.5rem]" />
        </figure>
        
        <nav class="flex flex-row items-center">
            <ul class="flex flex-row gap-10 items-center text-md text-slsk-aqua font-semibold hover:[&_a]:underline">
                <li><a href="/">O nás</a></li>
                <li><a href="/">Pre členov</a></li>
                <li><a href="/">Akcie</a></li>
                <li><a href="/">Klubovňa</a></li>
                <li><a href="/">Kontakt</a></li>
            </ul>
        </nav>

        <figure class="flex flex-row gap-6 items-center">
            <a href="/" class="px-4 py-1.5 bg-slsk-aqua font-bold text-slsk-white rounded-full hover:bg-slsk-gold transition-[all_0.2s]">
                Pridaj sa k nám!
            </a>
            <span class="material-symbols-rounded scale-[1.2] text-slsk-aqua cursor-pointer">
                search
            </span>
        </figure>
</BaseLayout>
