---
import NavbarItems from "./navbar-items.astro"
---

<header class="fixed w-full flex flex-row justify-between xl:grid grid-cols-[1fr_2fr_1fr] pl-3 pr-7 py-4 z-40">
    <figure class="flex flex-row items-center">
        <a aria-label="Modrý oblak" href="/">
            <img src="/media/zbor-slsk.png" alt="" class="h-[4.5rem]" />
        </a>
    </figure>

    <nav class="hidden xl:flex flex-row items-center justify-center">
        <ul class="flex flex-row items-center text-md text-slsk-aqua font-semibold hover:[&_a]:underline">
            <NavbarItems />
            <li>
                <a aria-label="Instagram" href="https://instagram.com/modryoblak" target="_blank" class="hidden xl:block">
                    <i class="fa-brands fa-instagram scale-[1.3] text-slsk-aqua px-3 hover:text-slsk-blue"></i>
                </a>
            </li>
            <li>
                <a aria-label="Facebook" href="https://facebook.com/ModryOblak" target="_blank" class="hidden xl:block">
                    <i class="fa-brands fa-facebook-f text-slsk-aqua px-3 hover:text-slsk-blue"></i>
                </a>
            </li>
        </ul>
    </nav>

    <figure class="flex flex-row gap-3 items-center justify-end">
        <a href="/podporte-nas/2-percenta" class="hidden sm:block button bg-slsk-orange">
            2%
        </a>
        <a href="/registracia" class="hidden sm:block button">
            Registrácia
        </a>
        <a aria-label="Email" href="mailto:rada@modryoblak.sk" target="_blank">
            <i class="fa-regular fa-envelope scale-[1.8] px-2 text-slsk-aqua hover:text-slsk-blue"></i>
        </a>
        <button id="nav-button" class="pl-2 xl:hidden">
            <i class="fa-solid fa-bars scale-[1.6] text-slsk-aqua hover:text-slsk-blue"></i>
        </button>
    </figure>
</header>

<nav id="mobile-nav" class="hidden fixed flex-col gap-12 items-center z-50 bg-slsk-white top-0 left-0 w-64 h-full p-6 shadow-[0_0_10px_0_rgba(0,0,0,0.3)]">
    <figure class="flex flex-row items-center">
        <a aria-label="Modrý oblak" href="/">
            <img src="/media/zbor-slsk.png" alt="" />
        </a>
    </figure>
    <ul class="flex flex-col text-xl items-center text-md text-slsk-aqua font-semibold hover:[&_a]:underline">
        <NavbarItems />
    </ul>
    <div class="flex flex-col gap-6 mt-auto">
        <a href="/podporte-nas/2-percenta" class="button bg-slsk-orange text-center">
            2%
        </a>
        <a href="/registracia" class="button mb-2">
            Registrácia
        </a>
        <div class="flex flex-row gap-6 items-center justify-center">
            <a aria-label="Instagram" href="https://instagram.com/modryoblak" target="_blank">
                <i class="fa-brands fa-instagram scale-[1.6] text-slsk-aqua hover:text-slsk-blue"></i>
            </a>
            <a aria-label="Facebook" href="https://facebook.com/ModryOblak" target="_blank">
                <i class="fa-brands fa-facebook-f scale-[1.3] text-slsk-aqua hover:text-slsk-blue"></i>
            </a>
            <a aria-label="Email" href="mailto:rada@modryoblak.sk" target="_blank">
                <i class="fa-regular fa-envelope scale-[1.8] text-slsk-aqua hover:text-slsk-blue"></i>
            </a>
        </div>
    </div>
</nav>

<script>
    const navButton = document.querySelector("button#nav-button");

    navButton?.addEventListener("click", () => {
        const nav = document.querySelector("nav#mobile-nav");
        nav?.classList.toggle("hidden");
        nav?.classList.toggle("flex");
    })
</script>
