<li><a href="/">O nás</a></li>
<li><a href="/skauting">Skauting</a></li>
<!-- <li><a href="/tim">Tím</a></li> Temporarily disabled for prod -->
<!-- <li><a href="/clen">Pre členov</a></li> Temporarily disabled for prod -->
<li><a href="/klubovna">Klubovňa</a></li>
<li><a href="/blog">Blog</a></li>
<!-- <li><a href="/podporte-nas">Podporte nás</a></li> -->
<li><a href="/kontakt">Kontakt</a></li>

<style>
    li {
        padding: min(1.25rem, 1.5vh) 1.25rem;
    }
</style>
