---
import MarkdownLayout from "../../layouts/markdown-layout.astro";

import EventCard from "../../components/event-card.astro";

const events = await Astro.glob("../../../public/events/**/*.json").then((events) => {
    const sorted = events.sort((a, b) => (new Date(a.date) as any) - (new Date(b.date) as any));
    return sorted.slice(0,30)
});
---

<MarkdownLayout>
    <h1>Akcie</h1>
    {events.map((event) => (
        <EventCard id={event.default.id} />
    ))}
</MarkdownLayout>